
.flex-grid-item {
	height: 100%;
	flex-grow: 1;
	flex-shrink: 0;
	display: flex;
	align-items: center;
    justify-content: center;
    font-size: 50px;
}
@media screen and (min-width: 600px){
    .flex-grid-item {
        width: 33.33vw;
    }

}
.container{
    display: grid;
    grid-template-columns: auto auto auto;
    height: 100%;
}


.flex-grid-item:nth-child(1)  {background-image: linear-gradient(to right, #f71414 0%, #d63d3d 51%, #db6d2e 100%);}
.flex-grid-item:nth-child(2)  {background-image: linear-gradient(to right, #df730e 0%, #d46d50 51%, #f6d365 100%);}
.flex-grid-item:nth-child(3)  {background-image: linear-gradient(to right, #fcec09 0%, #cecf63 51%, #78d13d 100%);}
.flex-grid-item:nth-child(4)  {background-image: linear-gradient(to right, #06f85f 0%, #6bce5e 51%, #84faf4 100%);}
.flex-grid-item:nth-child(5)  {background-image: linear-gradient(to right, #80b0cf 0%, #a7dae7 51%, #b483e2 100%);}
.flex-grid-item:nth-child(6)  {background-image: linear-gradient(to right, #bd1ce6 0%, #cf7cd6 51%, #f3c6e5 100%);}


.flex-grid-item:nth-child(1):hover  {background-image: linear-gradient(to right, #db6d2e 0%, #d63d3d 51%, #f71414 100%);}
.flex-grid-item:nth-child(2):hover  {background-image: linear-gradient(to right, #f6d365 0%, #d46d50 51%, #df730e 100%);}
.flex-grid-item:nth-child(3):hover  {background-image: linear-gradient(to right, #78d13d 0%, #cecf63 51%, #f6d365 100%);}
.flex-grid-item:nth-child(4):hover  {background-image: linear-gradient(to right, #84faf4 0%, #6bce5e 51%, #06f85f 100%);}
.flex-grid-item:nth-child(5):hover  {background-image: linear-gradient(to right, #b483e2 0%, #a7dae7 51%, #80b0cf 100%);}
.flex-grid-item:nth-child(6):hover  {background-image: linear-gradient(to right, #f3c6e5 0%, #cf7cd6 51%, #bd1ce6 100%);}